<%- include('../includes/header') %>
<%- include('../includes/subheader') %>
<section class="portfolio">
    <h2>Nossos Projetos</h2>
    
    <div class="projetos">
        <% projetos.forEach(projeto => { %>
            <button class="openPopupBtn">
                <div class="projeto">
                    <img src="<%= projeto.imagem %>" alt="<%= projeto.titulo %>">
                    <h3 ><%= projeto.titulo %></h3>
                    <p><%= projeto.descricao %></p>
                </div>
            </button>
        <% }); %>
    </div>
    <!-- O Pop-up (Modal) -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <span id="closePopupBtn" class="close">&times;</span>
            <h2 class="popup-texto"></h2>>
            <p>Você pode colocar qualquer conteúdo aqui.</p>
        </div>
    </div>
</section>
<%- include('../includes/footer') %>
